<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.provider_class">org.hibernate.hikaricp.internal.HikariCPConnectionProvider</property>
    <property name="hibernate.hikari.dataSourceClassName">org.postgresql.ds.PGSimpleDataSource</property>
    <property name="hibernate.hikari.dataSource.url">jdbc:postgresql://localhost:5432/sklep_komputerowy</property>
    <property name="hibernate.hikari.dataSource.user">postgres</property>
    <property name="hibernate.hikari.dataSource.password">student</property>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <mapping class="org.example.skelpinternetowy.Hibernate.Klient"/>
    <mapping class="org.example.skelpinternetowy.Hibernate.Produkt"/>
    <mapping class="org.example.skelpinternetowy.Hibernate.Zamowienie"/>
  </session-factory>
</hibernate-configuration>